.btn {
  background-color: #B7B7A4;
  border: none;
  color: #636464;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.hl-subsrt {
  background-color: #DDBEA9;
}